{% load static %}
<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>Sébastien Meiss - Développeur Fullstack</title>
    <link rel="icon" type="ico" href="{% static 'img/favicon.ico' %}" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="My electronic portfolio" />
    <meta name="keywords" content="Développement Web, Développement Fullstack" />
    <meta name="author" content="Sébastien Meiss" />
    <meta name="robots" content="index, follow" />
    <link rel="canonical" href="https://sebastien-meiss.dev" />
    <link rel="alternate" href="https://sebastien-meiss.dev" hreflang="fr" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet"
          type='text/css'
          href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css" />
  </head>
  <body>
    {% include "header.html" %}
    <main>
      {% block main_section %}
      {% endblock main_section %}
    </main>
    {% include "footer.html" %}
    <script src="{% static 'js/script.js' %}" async></script>
  </body>
</html>
